<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" href="/img/racing.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/dropdowns.js"></script>
  </head>

  <body>
    {{> header}}
    {{!-- {{> window}} --}}

    <main>
    {{{body}}} <!-- Acá se inyecta el contenido de la vista -->
    </main>
  </body>
</html>
